<template>
  <div>
    <q-table
        title="Задания"
        :rows="tasks"
        :columns="headers"
        row-key="name"
    />
  </div>
</template>

<script>
import useTasks from "@/composables/tasks";
import { onMounted } from "vue";
export default {



  setup () {

    const { tasks, getTasks, headers } = useTasks();

    onMounted(
        getTasks
    );

    return {
      tasks,
      getTasks,
      headers,
    }
  }
}
</script>
