<template>
  <div class="home">
    <div class="text-center q-mt-md">
      <div class="q-mt-xs text-left" v-for="(item, index) in letters" :key="index">
        <span class="text-h2 text-weight-bolder">
          {{ item.letter }} -
        </span>
        <span class="text-h2"> {{ item.text }} </span>
      </div>
    </div>
  </div>
</template>

<script>

const letters = [
  {
    letter: 'T',
    text: 'The'
  },
  {
    letter: 'A',
    text: 'Artificial'
  },
  {
    letter: 'T',
    text: 'Trustful'
  },
  {
    letter: 'I',
    text: 'Intelligence'
  },
  {
    letter: 'A',
    text: 'Agency'
  },
  {
    letter: 'N',
    text: 'Named'
  },
  {
    letter: 'A',
    text: 'Ancient'
  },
];

export default {
  name: 'HomeView',
  setup() {
    return {
      letters
    }
  }

}
</script>
