<template>
  <div class="row">
    <div class="col-12 col-md-6 col-lg-6 q-pa-sm " v-for="i in 15" :key="i">
      <q-card class="my-card" flat bordered>
        <q-card-section horizontal>
          <q-card-section class="q-pt-xs">
            <div class="text-overline">MEM</div>
            <div class="text-h5 q-mt-sm q-mb-xs">Title</div>
            <div class="text-caption text-grey">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci architecto culpa expedita explicabo minima qui quos sequi, voluptate. Atque dolorum maiores nobis omnis optio soluta. Alias aliquam aliquid autem cumque cupiditate dicta distinctio et, eum eveniet ex, illo impedit in labore libero minus molestiae mollitia nobis numquam obcaecati perferendis praesentium quis repudiandae, tempora tenetur veritatis.
            </div>
          </q-card-section>

          <q-card-section class="col-6 flex flex-center">
            <q-parallax
                src="https://cdn.quasar.dev/img/parallax2.jpg"
                class="rounded-borders"
                :height="200"
            />

          </q-card-section>
        </q-card-section>

        <q-separator />

        <q-card-actions>
          <q-icon flat round name="event" size="24px" />
          <div class="q-ml-sm text-weight-medium">
            30-08-2022 19:30
          </div>
        </q-card-actions>
      </q-card>
    </div>



  </div>
</template>

<script>

const letters = [
  {
    letter: 'T',
    text: 'The'
  },
  {
    letter: 'A',
    text: 'Artificial'
  },
  {
    letter: 'T',
    text: 'Trustful'
  },
  {
    letter: 'I',
    text: 'Intelligence'
  },
  {
    letter: 'A',
    text: 'Agency'
  },
  {
    letter: 'N',
    text: 'Named'
  },
  {
    letter: 'A',
    text: 'Ancient'
  },
];

export default {
  name: 'HomeView',
  setup() {
    return {
      letters
    }
  }

}
</script>
