<template>
  <div class="tasks">
    <tasks-table />
  </div>
</template>

<script>
  import TasksTable from "@/components/tasks/TasksTable";

  export default {
    name: "TasksView",
    components: {
      TasksTable
    }
  }
</script>
