<template>
  <div @click="log">11231</div>
</template>

<script>
  export default {

    setup () {
      const log = () => {
        console.log('OPA JOPA')
      };

      return {
        log
      }
    }
  }

</script>

<style scoped>

</style>