<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated class="primary">
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          @click="leftDrawerOpen = !leftDrawerOpen"
          aria-label="Menu"
          icon="menu"
        />

        <q-toolbar-title>
          TATIANA +
        </q-toolbar-title>

        <div> v 1.0.0 </div>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      class="bg-grey-2"
    >
      <q-list>
        <q-item-label header>Essential Links</q-item-label>
        <q-item v-for="(item, index) in menuItems" clickable tag="a" :key="index" :to="item.href">
          <q-item-section avatar>
            <q-icon :name="item.icon" />
          </q-item-section>
          <q-item-section>
            <q-item-label>{{ item.text }}</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-drawer>

    <q-page-container class="q-mx-md q-my-md">
      <router-view/>
    </q-page-container>
  </q-layout>
</template>

<script>
import { ref } from 'vue'

const menuItems = [
  {
    text: 'Главная',
    href: '/',
    icon: 'school'
  },
  {
    text: 'Мои задания',
    href: 'tasks',
    icon: 'book'

  },
  {
    text: 'Мемы',
    href: 'memes',
    icon: 'thumb_up'

  },
  {
    text: 'Справочник',
    href: 'about',
    icon: 'help'

  },
];

export default {
  name: 'LayoutDefault',

    setup () {
    return {
      leftDrawerOpen: ref(false),
      menuItems
    }
  }
}
</script>
